.back {
    width: 1000px;
    background: gray;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.square1:hover {
     z-index: 5;
 }
.square2:hover {
    z-index: 5;
}
.square3:hover {
    z-index: 5;
}
.square4:hover {
    z-index: 5;
}

.square1 {
    background: blue;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 100px;
}
.square2 {
    background:aqua ;
    width: 400px;
    height: 400px;;
    position: absolute;
    right: 150px;
    top: 100px;
}
.square3 {
    background: red;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 150px;
    bottom: 50px;
}
.square4 {
    background: gold;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 20px;
    right: 100px;
}
.circle1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #565656;
    bottom: 20px;
    right: 30px;
}
.circle2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #565656;
    bottom: 20px;
    right: 30px;
}
.circle3 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #565656;
    bottom: 20px;
    right: 30px;
}
.circle4 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #565656;
    bottom: 20px;
    right: 30px;
    font-size: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

