
body {
    font-family: sans-serif;
}
.flexible {
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;

}
header {
 border-bottom: 1px gray solid;
}
.headerBlock {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.logo {
    margin-left: 10px;
}
.headerMenu ul {
    display: flex;
    margin: 30px 0;
    padding: 0;

}
.headerMenu ul li {
    display: flex;
    list-style-type: none;
    margin: 10px;
}
.headerMenu ul li a{
    text-decoration: none;
    margin: 5px 15px;
    font-size: 20px;
    color: #373737;
}
.headerMenu__item:hover {
    cursor: pointer;
    background: #373737;
}

.headerMenu__item:hover a {
    color: white;
}




                                /*Main content Bunner*/

.mainBunner {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.mainBunnerTextblock {
    margin-left: 10px;
    margin-top: 70px;
    width: 40%;
    }
.mainBunner__title {
    color: #373737;
    font-size: 45px;
    font-weight: normal;
    margin: 0;
}
.mainBunner__subTitle {
    color: #373737;
    font-size: 35px;
    margin: 5px 0 10px 0;
}
.mainBunner_userAction {
    display: flex;
    background: #373737;
    width: 200px;

}
.userAction__icon {
    width: 30px;
    height: 20px;
    margin: 10px 10px 5px 10px;
    }
.userAction__text {
    font-size: 20px;
    margin: 5px;
    color: white;
}
.mainBunnerTextblock a{
    text-decoration: none;
}
.mainBunnerImgContent {
    display: flex;
    width: 60%;
    height: auto;
}

                        /*Main content block*/
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #373737;

}
.articlesBlock {
    width: 70%;
    padding-right: 25px;
}
.mainArticle{
    display: flex;

}

.mainArticle__img {
    min-width: 270px;
    height: 200px;
    margin-right: 25px;
    position: relative;
    display: flex;
}
.img1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.IPad {
    position: absolute;
    max-width: 60px;
    height: auto;

    bottom: 20px;
    left: 30px;
    z-index: 1;
}
.IMac {
    position: absolute;
    max-width: 120px;
    min-width: auto;
    height: auto;

    bottom: 20px;
    left: 120px;
    z-index: 1;
}








.mainArticleManager img {
    width: auto;
}
.mainArticle__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}
.mainArticleManager__leftArrow {
     width: 30px;
    height: 40px;
    background: #858282;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content1 {
    margin: 0;
}

.mainArticleManager__rightArrow {
    width: 30px;
    height: 40px;
    background: #b4b5b0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainArticleManager {
    display: flex;
    margin-left: auto;
}

                    /*Main content Article*/
.Article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
width: 100%;

}
.Article1 {
    width: 31%;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 200px ;

}
h2 {
    color: #575454;
    font-weight: normal
}
p {
    color: #575454;
    font-size: 15px;
}

                                /*siteBar */
.imgSitebar {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.siteBar {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}



.siteBar1 {
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #9b9b9b;
}
.siteBar1Text1 {
     margin-bottom: 0;
     display: flex;
     justify-content: center;
     align-items: center;
    font-size: 18px;
    color: #7b7b7b;
 }
.siteBar1Text2 {
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #7cc542;
}
.Layer25{
    position: absolute;
    bottom: 10px;
    left: 40px;
}
.Layer25copy{
    position: absolute;
    bottom: 5px;
    left: 110px;

}
.Layer26{
    position: absolute;
    right: 30px;
    bottom: 5px;
}




.siteBar2 {
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    background: #76fffa;
}
.circleNAmber {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #d62473;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px white solid;

}
.circleNAmber12{
    font-size: 60px;
    color: white;
    margin: 0;
}
.circleNAmberweek {
    font-size: 15px;
    color: white;
    margin: -5px 0 0 0;
}
.mainBlock__content{
    margin-top: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mainBlock__contentText1 {
    font-size: 35px;
    margin: 0;
    font-weight: normal;
    color: white;
}
.mainBlock__contentText2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
    width: 180px;
    color: white;
}
.button1 {
    width: 180px;
    height: 35px;
    background: #16dce1;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.button1:hover {
    background-color: #49c5ff;
}




.siteBar3 {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #c12164 6px solid;
    justify-content: center;
    background: #373737;
    height: auto;
}
.siteBarText1 {
    display: flex;
    width: 200px;
    height: 20px;
    color: white;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 20px;
}
.siteBarText2 {
    display: flex;
    width: 250px;
    color: white;
    justify-content: center;
    align-items: center;
}
input {
    width: 240px;
    margin: 5px;
    padding: 5px;
}
.button2 {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 35px;
    background: #c12164;
    color: #dfcfd6;
    border-radius: 7px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.button2:hover {
    background-color: deeppink;
}

                                /*ПОДВАЛ*/
.Footer {
    background: #373737;
    height: 100px;
}
.FooterText {
    color: white;
    margin-top: 35px;
    font-size: 15px;
}
.FooterBox {
    display: flex;
    height: 100px;
}
.Footer1 {
    width: 90%;
    display: flex;
    justify-content: center;
}
.Footer2 {
    display: flex;
    width: 10%;
    flex-direction: row-reverse;
    justify-content: space-around;

}
.FooterIcon {
    width: 30px;
    height: 30px;
    margin-top: 30px;
}
.FooterIcon:hover {
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .headerBlock {
        width: 500px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .logo {
        width: 200px;
        margin: 0 auto;
    }
    .headerMenu  {
        width: 100%;

    }
    .headerMenu ul {
        margin: 0 auto;
        justify-content: center;
    }
    .mainBunner {
        width: 500px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainBunnerTextblock {
        width: 100%;
    }
    .mainBunner__title {
        justify-content: center;
        display: flex;
    }
    .mainBunner__subTitle {
        justify-content: center;
        display: flex;
    }
    .mainBunner_userAction {
        margin: 0 auto;

    }
      .mainBunnerImgContent {
        width: 100%;
          height: auto;
          margin-top: 10px;
    }
      main{
          flex-wrap: wrap;
          padding-left: 25px;
      }
      .articlesBlock {
          width: 100%;

      }
      .siteBar {
          width: 100%;
          align-items: center;
          flex-wrap: wrap;
      }
      .siteBar1 {
          width: 300px;
      }
      .siteBar2 {
          width: 300px;
      }
      .siteBar3 {
          width: 300px;
          margin-bottom: 10px;
      }
      .FooterBox {
          flex-wrap: wrap;
      }
      .Footer1 {
          width: 100%;
      }
      .FooterText {
          margin-top: 20px;
      }
      .Footer2 {
          width: 100%;
          align-items: center;
          justify-content: center;
      }
      .FooterIcon {
          margin: 0 15px;
      }
}
@media screen and (max-width: 550px) {
    .headerBlock {
        width: 320px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .logo {
        width: 200px;
        margin: 0 auto;
    }
    .headerMenu  {
        width: 100%;

    }
    .headerMenu ul {
        margin: 0 auto;
        justify-content: center;
    }
    .mainBunner {
        width: 320px;
        margin: 0 auto;
        flex-direction: column;
    }
    .mainBunnerTextblock {
        width: 320px;
    }
    .mainBunnerImgContent {
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }
    main{
        flex-wrap: wrap;
        padding-left: 0;
    }
    .articlesBlock {
        padding: 0 10px;
    }
    .mainArticle {
        flex-wrap: wrap;
    }
    .mainArticle__img {
        width: 100%;
    }
    .img1 {
        width: 320px;
    }
    .mainArticle__content {
         width: 100%;
        border: 1px black solid;
        margin-top: 10px;
    }
    .Article1 {
        width: 100%;
        margin: 15px 0;
        border: 1px black solid;
    }
    .Article1 h2, p {
        padding-left: 20px;
    }

    .siteBar {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;

    }
    .siteBar1 {
        width: 300px;
    }
    .siteBar2 {
        width: 300px;
    }
    .siteBar3 {
        width: 300px;
        margin-bottom: 10px;
    }
    .FooterBox {
        flex-wrap: wrap;
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
    .Footer1 {
        width: 320px;

    }
    .Footer2 {
        width: 320px;
        align-items: center;
        justify-content: center;
    }
    .FooterIcon {
        margin: 0 15px;
    }
}